<div class="container">
  <div class="form-new-club">
    <%= simple_form_for(club) do |f| %>
      <%= f.input :name, :label => "Nom :" %>
      <%= f.input :photo, :label => "Photo :", as: :file, class:"picture" %>
      <%= f.input :address, :label => "Adresse :", placeholder: "Rechercher une adresse", input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <%= f.input :phone_number, :label => "Numéro de téléphone :" %>
      <%= f.input :category, :label => "Catégorie :" %>
      <%= f.input :description, :label => "Description :" %>
      <%= f.input :capacity, :label => "Capacité :" %>
      <%= f.input :hour_price, :label => "Prix horaire :" %>
      <%= f.submit "Créer le club", :class => "submit-form" %>
    <% end %>
  </div>
</div>
