<div class="club-info p-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1><%= @club.name %> - <%= @club.category %></h1>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <% if @club.user == current_user %>
        <%= link_to edit_club_path do  %>
          <i class="fa-solid fa-pencil m-2 text-decoration-none"></i>
        <% end %>
        <%= link_to club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash ms-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between align-items-center mt-4">
    <% if @club.photo.attached? %>
      <%= cl_image_tag(@club.photo.key, height: 300, width: 400, crop: :fill, :class=>"rounded-4 shadow") %>
    <% else %>
      <div class="sans-photo rounded-4 shadow"><%= @club.name %></div>
    <% end %>
    <div class="d-flex flex-column flex-fill ms-4 details">
      <p><strong><%= @club.address %></strong></p>
      <p><strong><%= @club.phone_number %></strong></p>
      <p class="mt-3"><%= @club.description %></p>
    </div>
  </div>
</div>

<div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @club.hour_price %>">
  <div data-controller="flatpickr" data-flatpickr-dates-value="<%= @club.flatpickr_booked_dates_object %>">
    <%= render "calendar", club: @club, booking: @booking %>
  </div>
  <p>Revenus : <span data-dynamic-booking-price-target="priceHolder"><%= @club.hour_price.round %></span> €</p>
</div>



<%# <div class="d-flex flex-row align-items-center justify-content-evenly">
  <div class="calendar-car">
    <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @club.bookings) do |date, bookings| %>
        <%# <%= date.day %>

        <%# <% bookings.each do |booking| %>
          <%# <div>
            <%= "" %>
          <%# </div> %>
        <%# <% end %>
    <%# <% end %>
  <%# </div> %>

  <%# <div> %>
    <%# <h1>Nouveau booking:</h1> %>
    <%# <%= simple_form_for [@club, @booking], data: { controller: 'flatpickr' } do |f| %>
      <%# <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%# <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      <%# <%= f.submit %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>
