<% if @club.photo.attached? %>
  <%= cl_image_tag(@club.photo.key, height: 300, width: 400, crop: :fill) %>
<% else %>
  <img src="">
<% end %>
<h2><%= @club.name %></h2>
<p><%= @club.category %></p>
<p><%= @club.address %></p>
<p><%= @club.phone_number %></p>
<p><%= @club.description %></p>
<% if @club.user == current_user %>
  <%= link_to "Edit this club", edit_club_path %>
  <%= link_to "Delete this club", club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>

<br>

<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @club.bookings) do |date, bookings| %>
    <%= date.day %>

    <% bookings.each do |booking| %>
      <div>
        <%= booking.club.name %>
      </div>
    <% end %>
<% end %>

<h1>Nouveau booking:</h1>

<%= simple_form_for [@club, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>
