
<div class="container-show shadow mt-3 rounded">

  <div class="d-flex flex-row align-items-center justify-content-between p-3">
    <h1 class="m-0"><%= @club.name %></h1>
    <div>
      <% if @club.user == current_user %>
        <%= link_to edit_club_path do  %>
          <i class="fa-solid fa-pencil m-2 text-decoration-none"></i>
        <% end %>
        <%= link_to club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash ms-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <% if @club.photo.attached? %>
      <%= cl_image_tag(@club.photo.key, height: 280, width: 1000, crop: :fill, :class=>"") %>
    <% else %>
      <div class="sans-photo rounded-4 shadow"><%= @club.name %></div>
    <% end %>
  </div>

  <div class="d-flex flex-row">
    <div class="p-3 pb-4 me-5 d-flex flex-column hauteur justify-content-between">
      <div>
        <h2 class="mb-3"><%= @club.category %></h2>
        <p class="mb-4"><%= @club.description %></p>
        <div class="d-flex flex-row align-items-center">
          <%= @club.capacity %><i class="fa-solid fa-people-group ms-2"></i>
        </div>
        <p>Prix par représentation : <strong><%= @club.hour_price.round %>€</strong></p>
      </div>
      <div>
        <div class="d-flex flex-row align-items-center">
          <i class="fa-solid fa-location-dot me-2"></i>
          <p class="mb-0"><%= @club.address %></p>
        </div>
        <div class="d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <p class="m-0 ms-2"><%= @club.phone_number %></p>
          </div>
          <div class="d-flex flex-row align-items-center ms-4">
            <i class="fa-solid fa-envelope"></i>
            <p class="m-0 ms-2"><%= @club.user.email %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 pb-0">
      <div class="m-0 p-0" data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @club.hour_price %>">
        <div data-controller="flatpickr" data-flatpickr-dates-value="<%= @club.flatpickr_booked_dates_object %>">
          <%= render "calendar", club: @club, booking: @booking %>
        </div>
        <p class="revenus-position m-0">Revenus : <span data-dynamic-booking-price-target="priceHolder"><%= @club.hour_price.round %></span> €</p>
      </div>
    </div>
  </div>
</div>
