<% if @club.photo.attached? %>
  <%= cl_image_tag(@club.photo.key, height: 300, width: 400, crop: :fill) %>
<% else %>
  <img src="">
<% end %>
<h2><%= @club.name %></h2>
<p><%= @club.category %></p>
<p><%= @club.address %></p>
<p><%= @club.phone_number %></p>
<p><%= @club.description %></p>

<%= link_to "Edit this club", edit_club_path %>
<%= link_to "Delete this club", club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

<%# Ajout %>
<%= link_to "Ask for Booking", new_club_booking_path(@club) %>

