<div class="card-booking shadow ms-3 me-3 p-2 row">
  <div class="col-10">
    <h3 class="mt-2 text-truncate"><%= booking.club.name %></h3>
    <div class="container-forced">
      <% if booking.club.user.photo.attached? %>
        <%= cl_image_tag(booking.club.user.photo.key, height: 45, width: 45,:gravity=>"faces", crop: :fill, :class=>"rounded-circle ms-1 me-2 mb-3 mt-2") %>
      <% else %>
        <%= cl_image_tag("avatar-vierge_dnx941", height: 45, width: 45,:gravity=>"faces", crop: :fill, :class=>"rounded-circle ms-1 me-2 mb-3 mt-2") %>
      <% end %>
      <%= link_to "#{booking.club.user.first_name} #{booking.club.user.last_name}", user_path(booking.club.user) %>
    </div>
    <p><strong>Début :</strong> <%= booking.start_date %></p>
    <p><strong>Fin :</strong> <%= booking.end_date %></p>
  </div>
  <div class="col-2 d-flex flex-column align-items-center justify-content-between pb-2">
    <%= link_to booking_validated_path(booking) do %>
      <i class="fa-solid fa-check validated"></i>
    <% end %>
    <%= link_to booking_cancelled_path(booking) do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
    <%= link_to booking_declined_path(booking) do%>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
</div>
