<h1>Profil</h1>
<p>Photo de profil</p>
<%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>

<br>
<p>Informations</p>
<br>

<h2>Mes clubs</h2>
<%# ajouter le if si c'est un owner uniquement %>
<% @clubs.each do |club| %>
  <p><%= club.name %></p>
  <p><%= club.address %></p>
  <p><%= club.description %></p>
  <p>Numéro de téléphone : <%= club.phone_number %></p>
  <p>Catégorie : <%= club.category %></p>
  <p>Capacité : <%= club.capacity %></p>
  <p>Prix : <%= club.hour_price %> €</p>
<% end %>
<br>

<h2>Mes bookings</h2>
<% @bookings.each do |booking| %>
  <h3><%= booking.club.name %></h3>
  <p>Début de la réservation : <%= booking.start_date %></p>
  <p>Fin de la réservation : <%= booking.end_date %></p>
  <p>Statut de la réservation : <%= booking.accepted %></p>
  <%= link_to "delete", bookings_delete_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "accept (only for owners)", booking_accepted_path(booking) %>
<% end %>
