<div class="container-forced mt-3">

  <ul class="nav nav-tabs" id="myTab">

    <%# MES BOOKINGS  MES BOOKINGS  MES BOOKINGS  MES BOOKINGS  MES BOOKINGS  MES BOOKINGS  MES BOOKINGS%>

    <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
      <a class="nav-link active" id="bookings-tab" data-bs-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true" onclick="return false">Mes représentations</a>
    </li>

    <%# MES CLUBS  MES CLUBS  MES CLUBS  MES CLUBS  MES CLUBS  MES CLUBS  MES CLUBS%>

      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
        <a class="nav-link" id="clubs-tab" data-bs-toggle="tab" href="#clubs" role="tab" aria-controls="clubs" aria-selected="true" onclick="return false">Mes clubs</a>
      </li>

    <%# MES BOOKINGS de mes clubs  MES BOOKINGS de mes clubs  MES BOOKINGS de mes clubs %>

      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
        <a class="nav-link" id="books-tab" data-bs-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="true" onclick="return false">Les réservations de mes clubs</a>
      </li>
  </ul>

  <div class="tab-content" id="myTabContent">


    <%# MES BOOKINGS ACCEPTEES %>
  <div class="tab-pane fade" id="bookings">
    <%= form_with url: dashboard_path, html: { data: { controller: 'flatpickr', flatpickr_dates_value: current_user.flatpickr_booked_dates_object } }  do |f| %>
      <%= f.date_field :start_date, as: :string, label: false, class: 'd-none', data: { flatpickr_target: 'startDateInput', dynamic_booking_price_target: 'startDateInput', action: 'change->dynamic-booking-price#updatePrice'} %>
      <%= f.date_field :end_date, as: :string, label: false, class: 'd-none', data: { flatpickr_target: 'endDateInput', dynamic_booking_price_target: 'endDateInput', action: 'change->dynamic-booking-price#updatePrice' } %>
    <% end %>
    <p><% if current_user.bookings.count != 0 %>
      <div class="msg-alt">Mes représentations acceptées</div>
        <div class="overflowx pt-3 pb-3">
          <% @bookings.where(status: "validated").each do |booking| %>

            <%# RENDER %>
            <%= render "cardbookings", booking: booking %>

          <% end %>
        </div>
        <% else %>
          <div class="msg-alt">Vous n'avez pas de réservations</div>
        <% end %>
    </p>

    <%# MES BOOKINGS EN ATTENTE %>

    <p><% if current_user.bookings.count != 0 %>
      <div class="msg-alt">Mes représentations en attente</div>
        <div class="overflowx pt-3 pb-3">
          <% @bookings.where(status: "created").each do |booking| %>

            <%= render "cardbookings", booking: booking %>

          <% end %>
        </div>
        <% else %>
          <div class="msg-alt">Vous n'avez pas de réservations</div>
        <% end %>
    </p>

    <%# MES BOOKINGS REFUSEES %>

    <p><% if current_user.bookings.count != 0 %>
      <div class="msg-alt">Mes représentations annulées</div>
        <div class="overflowx pt-3 pb-3">
          <% @bookings.where(status: "cancelled").each do |booking| %>

            <%= render "cardbookings", booking: booking %>

          <% end %>
        </div>
        <% else %>
          <div class="msg-alt">Vous n'avez pas de réservations</div>
        <% end %>
    </p>

    <%# MES BOOKINGS DECLINEES %>

    <p><% if current_user.bookings.count != 0 %>
      <div class="msg-alt">Mes représentations déclinées</div>
        <div class="overflowx pt-3 pb-3">
          <% @bookings.where(status: "declined").each do |booking| %>

            <%= render "cardbookings", booking: booking %>

          <% end %>
        </div>
        <% else %>
          <div class="msg-alt">Vous n'avez pas de réservations</div>
        <% end %>
    </p>
  </div>

      <%# MES CLUBS %>

  <div class="tab-pane fade" id="clubs" role="tabpanel" aria-labelledby="clubs-tab">
    <p><% if current_user.clubs.count != 0 %>
        <div class="overflowx pt-3 pb-3">
        <% @clubs.each do |club| %>
          <%= link_to club_path(club) do%>
            <div class="card-club shadow ms-3 me-3">
              <% if club.photo.attached? %>
                <%= cl_image_tag(club.photo.key, height: 200, width: 380, crop: :fill) %>
              <% else %>
                <div class="sans-photo"><%= club.name %></div>
              <% end %>

              <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                <h2><%= club.name %></h2>
                <h3><%= club.category %></h3>
              </div>

              <div class="d-flex flew-row align-items-center justify-content-between mt-1">
                <div class="d-flex flex-row align-items-center">
                  <p class="me-2"><strong><%= club.capacity %></strong></p>
                  <i class="fa-solid fa-people-group"></i>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <p><strong><%= club.hour_price.round %>€</strong></p>
                </div>
              </div>

              <div class="d-flex flew-row align-items-center w-100 text-truncate mt-2">
                <i class="fa-solid fa-location-dot"></i>
                <p class="ms-2"><%= club.address %></p>
              </div>

              <div class="d-flex flew-row align-items-center justify-content-start">
                <div class="d-flex flex-row align-items-center">
                  <i class="fa-solid fa-phone"></i>
                  <p class="ms-2 me-4"><%= club.phone_number %></p>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <i class="fa-solid fa-envelope"></i>
                  <p class="ms-2"><%= club.user.email %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      <% else %>
        <div class="msg-alt">Vous n'avez pas de clubs</div class="msg-alt">
      <% end %>
    </p>
  </div>

  <%# LES BOOKINGS DE MES CLUBS %>

  <div class="tab-pane fade" id="books" role="tabpanel" aria-labelledby="books-tab">
    <p><% if current_user.clubs.count != 0 %>
      <div class="overflowx pt-3 pb-3">
        <% current_user.clubs.each do |club| %>
          <% club.bookings.each do |booking| %>
            <div class="card-booking shadow ms-3 me-3 p-2 row">
              <div class="col-10">
                <h3 class="mt-2 text-truncate"><%= booking.club.name %></h3>
                <div class="container-forced">
                  <% if booking.user.photo.attached? %>
                    <%= cl_image_tag(booking.user.photo.key, height: 45, width: 45,:gravity=>"faces", crop: :fill, :class=>"rounded-circle ms-1 me-2 mb-3 mt-2") %>
                  <% else %>
                    <%= cl_image_tag("avatar-vierge_dnx941", height: 45, width: 45,:gravity=>"faces", crop: :fill, :class=>"rounded-circle ms-1 me-2 mb-3 mt-2") %>
                  <% end %>
                  <%= link_to "#{booking.user.first_name} #{booking.user.last_name}", user_path(booking.user) %>
                </div>
                <p><strong>Début :</strong> <%= booking.start_date %></p>
                <p><strong>Fin :</strong> <%= booking.end_date %></p>
              </div>
              <div class="col-2 d-flex flex-column align-items-center justify-content-between pb-2">
                <%= link_to booking_accepted_path(booking) do%>
                  <% if booking.accepted %>
                    <i class="fa-solid fa-check validated"></i>
                  <% else %>
                    <i class="fa-solid fa-check unvalidated"></i>
                  <% end %>
                <% end %>
                <%= link_to bookings_delete_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% else %>
        <div class="msg-alt">Vos clubs n'ont pas de réservation</div>
      <% end %>
      </p>
  </div>
</div>
