<%# navbar %>

<% @clubs.each do |club| %>
  <p><%= club.name %></p>
  <p><%= club.description %></p>
  <p>Numéro de téléphone : <%= club.phone_number %></p>
  <p>Capacité : <%= club.capacity %></p>
  <p>Prix : <%= club.hour_price %></p>
<% end %>

<%# footer %>
